body {
  hight: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #678cc7;
}

.container {
  text-align: center;
  margin-top: 35px;
  align-items: center;
  justify-content: center;
  background-color: #5d7eb3;
}
table {
  margin: auto;
}

input {
  font-size: 30px;
  border-radius: 5px;
  border: 3px solid;
}

button {
  font-size: 20px;
  background: LightGray;
  width: 91px;
  height: 50px;
  border-radius: 15px;
}
